
html{background-color: black;}/* set the background color for page to black */
body{margin:0;}/* took off body default margin*/

/*
framed holder of imposter and little pet
changed the display to flex for responsiveness and justified the contents which
is the imposters in the center
added buffer around frame of 100 pixels
created a border of 3px and made it white to see it on the black background
made sure any stars outside of frame is hidden when screen resizes
used position relative to position div contents relative to the div
*/
.imposter-holder{
  width:1235px;
  height:735;
  margin:20px auto;
  display:flex;
  justify-content: center;
  border: 3px solid white;
  position: relative;
  overflow: hidden;
  background-color: #1a1a1a;
 }

/*
sets the imposters box width to 400px and height to 425px
makes box position relative to allow contents to be moved around
adds a 150 pixel buffer all the way around imposter 
used position relative to position div contents relative to the div
changed the top margin to be a little bigger
*/
.imposter{
  width: 400px;
  height: 425px;
  position: relative;
  margin: 150px;
  margin-top: 200px;
}

/*
Main part of the body, has no border radius on the bottom
to create the round head shape at the top used border radius on the top
added a border line around the top and side but not on the bottom to make
it look like the feet are part of the body.
made sure any overflow of components are hidden
set the body color to the shadow color
*/
.main-body{
  width: 250px;
  height: 325px;
  border-top-left-radius: 50%;
  border-top-right-radius: 120px;
  background-color: #691610;
  border: 15px solid black;
  border-bottom: none;
  overflow: hidden;
  z-index:3;
  position: relative;
}

/*
added a shape to be the highlight and set it to that color
added border radius to the seen sides to help shape the shadows
*/
.body-second{
  position: relative;
  width:225px;
  height:300px;
  background-color: #ab1c11;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  z-index:3;
}

/*
created a container for the feet, set it to flex and justified the individual feet
to be on opposite side of the container, space only between them
*/
.feet{display: flex;justify-content: space-between;}

/*
the left foot is placed right below the body and set to be at behind
the crouch and the body with the z index so the lines would meet correctly
only the sides and bottom of foot has borders and the bottom corners have 
radius to round the feet
*/
.left-foot{
  background-color: #691610;
  border: 15px solid black;
  border-top: none;
  width:85px;
  height:75px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 40px;
  /* z-index:-2 */
}
/*
the right foot is placed right below the body
has a margin to the right to meet the body correctly
bottom of foot has borders and the bottom corners have 
radius to round the feet
*/
.right-foot{
  background-color: #691610;
  border: 15px solid black;
  border-top: none;
  width:90px;
  height:90px;
  margin-right: 120px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 60px;
  z-index: 3;
}

/*
this is a div for the crouch line between the legs
only added a border to the bottom
used z index to place the crouch behind the right leg and body but above the left leg
used absolute position to place it anywhere i wanted in the div without moving other things around
*/
.crouch{
  position:absolute;
  width:200px;
  height:200px;
  border-bottom: 15px solid black;
  border-radius: 60px;
  background-color: #691610;
  top:135px;
  left: 25px;
}

/*
added the backpack placed it behind the body
used absolute position to place it anywhere i wanted in the div without moving other things around
hid the overflow from the backpack shadow shape only game a radius to the right top and bottom corners
*/
.backpack{
  position:absolute;
  width:70px;
  height:190px;
  border:15px solid black;
  background-color: #ab1c11;
  top:120px;
  z-index: 1;
  right:60px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}

/*
created this shape to add the shadow to the backpack
positioned it in the backpack where i wanted
*/
.backpack-shadow{
  width:70px;
  height:190px;
  position: relative;
  top:50px;
  right: -5px;
  background-color: #691610;
  border-top-right-radius: 40px;
}

/*
created a shape for the face glass. Positioned it using absolute within the imposter div.
put a border around the whole face part and hid the overflow from the face-shine and main mask color
made the face the shadow color
*/
.face{
  position: absolute;
  width:175px;
  height:100px;
  top:75px;
  left: -15px;
  border: 15px solid black;
  background-color:#5b7478;
  border-top-right-radius: 40px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 50px;
  overflow:hidden;
  z-index:3;
}

/*
added a face-shine shape for the shine of the glass
changed the z-index to place it above the face and main color
added a general border radius and changed the top left corner to be different
*/
.face-shine{
  background-color: #e6fcff;
  width:90px;
  height:30px;
  position: relative;
  top:15px;
  left: 25px;
  border-radius: 80px;
  border-top-left-radius: 130px;
  z-index: 3;
}

/*
the second color or the main color of the mask is a different shape gave each corner a different 
radius and position it where i wanted
*/
.face-second{
  background-color:#94c9d1 ;
  position:relative;
  border-top-right-radius: 70px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 50px;
  width:175px;
  height:100px;
  top: -50px;
  left: -15px;
}

/*
copied the imposter to make a second guy and scale it down for the "pet"
position it to the right of the original imposter
*/
.little-guy{
  transform: scale(0.6);
  position:absolute;
  top:-50px;
  right:-300px;
  z-index: 4;
}

/*
adjusted the imposters face a little to match what the little guy looks like
making the mask relatively bigger and boxier and changed the border radius
*/
.little-face{
  border-radius: 45%;
  height: 200px;
  width:200px;
  top:20px;
}

/*
adjusted the face-second to match the little-face a little better. changed the width and height
*/
.little-face-second{
  width:190px;
  height:190px
}

/*
added a crown to the main imposter 
used position absolute to place it on the head and changed the z-index to hide the overflow
of the crown behind the imposters body. scaled the crown up from the original size.
used display flex to light up the left middle and right crown parts
*/
.crown{
  position:absolute;
  top:-70px;
  left:100px;
  display:flex;
  transform: scale(1.5);
  z-index: 2;
}

/*
rotated the left part of the crown -20 degrees
*/
.left-crown{transform:rotate(-20deg);}
/*
rotated the right part of the crown to 20 degrees
*/
.right-crown{transform:rotate(20deg);}
/*
moved the middle part of the crown to be higher than the other parts
*/
.middle-crown{top:-15px;}
/*

*/
.spike{display:flex;position: relative;
}
/*
crown spike creates a box with a width of 1px and 0 height and makes all the
borders transparent except the bottom to created a triangle
colors the spike yellow and gives it a -2.4px margin to push each spike together
*/
.crown-spike{
  height:0;
  width:1px;
  border: 5px solid transparent;
  border-bottom: solid 100px yellow;
  margin:-2.4px;
  position: relative;
}
/*
each crown part has 5 of these spikes to create a thicker triangle
positioned the middle at zero from the top, the immediate spikes to the left and right
are positioned 10px below that and the end pieced 20 pixels down from the top to created
a pointer triangle
*/
.right-spike{transform: rotate(-6deg); top:10px;}
.right-spike2{transform: rotate(-12deg);top:20px;}
.left-spike{transform: rotate(6deg);top:10px;}
.left-spike2{transform: rotate(12deg);top:20px;}


/*
added stars to the background the big and little stars are
made by give the square a border radius of 50% to make a circle
each star is positioned absolute relative to the imposter holder

*/
.big-star, .little-star{
  position:absolute;
  width:8px;
  height:8px;
  border-radius: 50%;
  background-color: white;
}

/*

*/
.little-star{
  width:5px;
  height:5px;
  background-color:#f0cdb4;
}

/*

*/
.crown-border{
  position:absolute;
  z-index:1;
  transform:scale(1.9);
  top: -100px;
}

/*

*/
.crown-border-spike{
  border-bottom: solid 100px black;
}



