
html{background-color: black;}/* set the background color for page to black */
body{margin:0;}/* took off body default margin*/

/*
framed holder of imposter and little pet
changed the display to flex for responsiveness and justified the contents which
is the imposters in the center
added buffer around frame of 100 pixels
created a border of 3px and made it white to see it on the black background
made sure any stars outside of frame is hidden when screen resizes
*/
.imposter-holder{
  width:1235px;
  height:735;
  margin:20px auto;
  display:flex;
  justify-content: center;
  border: 3px solid white;
  position: relative;
  overflow: hidden;
 }

/*
sets the imposters box width to 400px and height to 425px
makes box position relative to allow contents to be moved around
adds a 150 pixel buffer all the way around imposter 
*/
.imposter{
  width: 400px;
  height: 425px;
  position: relative;
  margin: 150px;
}

/*
Main part of the body, has no border radius on the bottom
to create the round head shape at the top used border radius on the top
added a border line around the top and side but not on the bottom to make
it look like the feet are part of the body.
made sure any overflow of components are hidden
set the body color to the shadow color
*/
.main-body{
  width: 250px;
  height: 325px;
  border-top-left-radius: 50%;
  border-top-right-radius: 120px;
  background-color: #691610;
  border: 15px solid black;
  border-bottom: none;
  overflow: hidden;
}

/*
added a shape to be the highlight and set it to that color
added border radius to the seen sides to help shape the shadows
*/
.body-second{
  position: relative;
  width:225px;
  height:300px;
  background-color: #ab1c11;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}

/*
created a container for the feet, set it to flex and justified the individual feet
to be on opposite side of the container, space only between them
*/
.feet{display: flex;justify-content: space-between;}

/*
the left foot is placed right below the body and set to be at behind
the crouch and the body with the z index so the lines would meet correctly
only the sides and bottom of foot has borders and the bottom corners have 
radius to round the feet
*/
.left-foot{
  background-color: #691610;
  border: 15px solid black;
  border-top: none;
  width:85px;
  height:75px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 40px;
  z-index:-2
}
/*
the right foot is placed right below the body
has a margin to the right to meet the body correctly
bottom of foot has borders and the bottom corners have 
radius to round the feet
*/
.right-foot{
  background-color: #691610;
  border: 15px solid black;
  border-top: none;
  width:90px;
  height:90px;
  margin-right: 120px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 60px;
}

/*

*/
.crouch{
  position:absolute;
  width:200px;
  height:200px;
  border-bottom: 15px solid black;
  border-radius: 60px;
  background-color: #691610;
  top:135px;
  left: 25px;
  z-index:-1;
}

.backpack{
  position:absolute;
  width:70px;
  height:190px;
  border:15px solid black;
  background-color: #ab1c11;
  top:120px;
  z-index: -1;
  right:60px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}

.backpack-shadow{
  width:70px;
  height:190px;
  position: relative;
  top:30px;
  right: -5px;
  background-color: #691610;
  border-top-right-radius: 40px;
}

.face{
  position: absolute;
  width:175px;
  height:100px;
  top:75px;
  left: -15px;
  border: 15px solid black;
  background-color:#5b7478;
  border-top-right-radius: 40px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 50px;
  overflow:hidden;
}

/*

*/
.face-shine{
  background-color: #e6fcff;
  width:90px;
  height:30px;
  position: relative;
  top:15px;
  left: 25px;
  border-radius: 80px;
  border-top-left-radius: 130px;
  z-index: 2;
}

/*

*/
.face-second{
  background-color:#94c9d1 ;
  position:relative;
  border-top-right-radius: 70px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 50px;
  width:175px;
  height:100px;
  top: -50px;
  left: -15px;
}

/*

*/
.little-guy{
  transform: scale(0.6);
  position:absolute;
  top:-50px;
  right:-300px;
}

/*

*/
.little-face{
  border-radius: 45%;
  height: 200px;
  width:200px;
  top:20px;
}

/*

*/
.little-face-second{
  width:190px;
  height:190px
}

/*

*/
.crown{
  position:absolute;
  top:-70px;
  left:100px;
  display:flex;
  transform: scale(1.5);
  z-index: -4;
}

/*

*/
.left-crown{transform:rotate(-20deg);}
/*

*/
.right-crown{transform:rotate(20deg);}
/*

*/
.middle-crown{top:-15px;}
/*

*/
.spike{display:flex;position: relative;
}
/*

*/
.crown-spike{
  height:0;
  width:1px;
  border: 5px solid transparent;
  border-bottom: solid 100px yellow;
  z-index:4;
  margin:-3px;
  position: relative;
}
/*

*/
.right-spike{transform: rotate(-6deg); top:10px;}
/*

*/
.right-spike2{transform: rotate(-12deg);top:20px;}
/*

*/
.left-spike{transform: rotate(6deg);top:10px;}
/*

*/
.left-spike2{transform: rotate(12deg);top:20px;}

.big-star, .little-star{
  position:absolute;
  width:8px;
  height:8px;
  border-radius: 50%;
  background-color: white;
  z-index:-5;
}

.little-star{
  width:5px;
  height:5px;
  background-color:#f0cdb4;
}



