
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

ul{
  display:flex;
  justify-content: right;
  background-color: hsl(219, 22%, 29%);
  overflow: hidden;
  padding: 0;
  list-style-type:none;
}

.active-li, .active-a{
  background-color:#4d64bf;
  color:white;
  font-size: 18px;
  font-weight: bolder;
}

.active-a:hover, .active-li:hover{
  background-color:#4d64bf;
  color:white;
  cursor:default;
  transform: none;
}


li{
  padding:10px;
  transition: transform 1s;
}

li a{
  padding: 10px;
  text-decoration: none;
  color: #d1d1d1;
  font-family: 'Grechen Fuemen', cursive;
}

a:hover, li:hover{
  background-color: #4e5c78;
  color: white;
  transform: scale(1.06);
}

body, ul {margin:0;}

h1{text-align: center;}