h1{
  text-align: center;
  margin-top:0;
  padding: 20px 0;
}
form{margin: 5px 10%; padding-bottom: 40px;}

input[type=text]{
  width: 100%;
  box-sizing:border-box;
  margin:5px 0 ;
  padding:5px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid grey;
}

input[type=submit],input[type=reset]{
  width: 49.5%;
  font-size: 18px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

input[type=submit]{
  color:white;
  background-color: green;
}

input[type=reset]{
  color:white;
  background-color: red;
}

.button-holder{
  display:flex;
  justify-content: space-between;
}

textarea{
  width:100%;
  box-sizing:border-box;
  margin:10px 0 ;
  font-size: 18px;
  resize: none;
  border-radius: 5px;
  border: 1px solid grey;
}

label{font-size: 22px;}

.required:after {
  content:" *";
  color: red;
}

ul{
  display:flex;
  justify-content: right;
  overflow: hidden;
  padding: 0;
  list-style-type:none;
  padding: 0 20%;
  background-color:#195e1e;
  box-shadow:0px 14px 8px -7px rgba(0,0,0,0.32);
}

.active-li, .active-a{
  color:white;
  font-size: 18px;
  font-weight: bolder;
  background-color: #144a18;
}


.active-a:hover, .active-li:hover{
  cursor:default;
  transform: none;
  background-color:#144a18;
}

li{
  padding:10px;
  transition: transform 1s;
}

li a{
  padding: 10px;
  text-decoration: none;
  color: #d1d1d1;
}

a:hover, li:hover{
  color: white;
  transform: scale(1.06);
  background-color:#144a18;
}

body, ul {margin:0;}
p{text-align: center;}

.input-line{
  display:flex;
  justify-content: space-between;
}

.two-input{
  width:48%;
}

.topping-holder{
  display:flex;
  justify-content: space-around;
}

.meat-toppings{
  display: flex;
  flex-direction: column;
}

.vegtable-toppings{
  display: flex;
  flex-direction: column;
}

select{
  width: 100%;
  box-sizing:border-box;
  margin:5px 0 ;
  padding:5px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid grey;
}

#main-image{
  margin: 0 20%;
  max-width: 60%;
  height: auto;
  border-radius: 20px;
}

p{margin:0 20%;}

#maker-img{
  margin: 0 20%;
  max-width: 30%;
  height: auto;
}

.form-holder{
  background-color: white;
  margin:2% 20%;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
  overflow: hidden;
}

.form-header{
  background-color: #144a18;
  color:white;
}

#user-info{
  margin-top: 50px;
}