table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px;
}

table{
  overflow-x:auto;
}

th {
  font-size:20px;
  font-weight:bolder;
}

#video{
  width: 520px;
  height: 335px;
  margin: 10px;
}

.image{
  max-width: 125px;
  height: auto;
}