h1{
  font-size: 50px;
  text-align: center;
}

img {
  width: 500px;
  height: auto;
}

#list-container{
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.container{
  display:flex;
  justify-content: space-evenly;
  margin: 2% 10%;
  padding:20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}

.list{
  padding:30px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

